@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Helvetica Neue';
    src: url('@/assets/fonts/helvetica/geo/Helvetica Neue LT GEO 25 Ultra Light.ttf');
    font-weight: 100;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('@/assets/fonts/helvetica/geo/Helvetica Neue LT GEO 35 Thin.ttf');
    font-weight: 200;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('@/assets/fonts/helvetica/geo/Helvetica Neue LT GEO 45 Light.ttf');
    font-weight: 300;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('@/assets/fonts/helvetica/geo/Helvetica Neue LT GEO 55 Roman.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('@/assets/fonts/helvetica/geo/Helvetica Neue LT GEO 65 Medium.ttf');
    font-weight: 500 600;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('@/assets/fonts/helvetica/geo/Helvetica Neue LT GEO 75 Bold.ttf');
    font-weight: 700;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('@/assets/fonts/helvetica/geo/Helvetica Neue LT GEO 85 Heavy.ttf');
    font-weight: 800;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('@/assets/fonts/helvetica/geo/Helvetica Neue LT GEO 95 Black.ttf');
    font-weight: 900;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}
.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
    display: none;
}
